---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Featured from "../components/Featured.astro";
import WideImage from "../components/WideImage.astro";
import type { ImageMetadata } from "astro";

const introduction =
	"Drawing inspiration from the graceful Renban Orchid \
and Salvador Dali's masterpiece 'The Persistence of Memory,' we create \
a mesmerizing fusion. The orchid petals intertwine with the clocks \
depicted in the artwork, mirroring the passage of time as the \
petals contort and freeze. Delicate butterflies gracefully dance \
among the flowers, their wings intertwining and transforming, \
forming a whimsical and surreal paradise. Through these dynamic \
visual forms, our products resonate with the wearers, inviting them \
to embrace a realm of enchanting dreams and lasting beauty";

const butterfly_description =
	"Taking butterfly specimens as our theme, we envision the divine observation of butterflies through a visual lens. Witness the transformation from static specimens to dynamic beings, breaking free and embarking on a journey of rebirth";

const ending_description =
	"MAVERICK passionately champions the idea of empowering wearers to exude utmost comfort and confidence, transcending all occasions. Be yourself, be classic";
---

<Layout title="Maverick Jewellery Official">
	<main class="max-w-3x mx-auto py-12 min-h-screen bg-off-white">
		<div class="container mx-auto px-2 md:px-0">
			<div class="whitespace block h-10"></div>
			<div class="mx-auto flex flex-col h-16 justify-center">
				<div
					class="md:text-xl text-lg text-center font-serif text-black tracking-wide"
				>
					[ TO BE CLASSIC IS TO BE YOURSELF ]
				</div>
			</div>
			<div class="whitespace block h-14"></div>
			<WideImage img_src={"/images/wide_1.jpg"} />
			<div class="whitespace block h-16"></div>
			<div class="max-w-[85%] md:flex mx-auto md:prose">
				<p class="text-xl text-center font-serif text-black">
					{introduction}
				</p>
			</div>
			<div class="whitespace block h-16"></div>
			<Carousel
				img_srcs={[
					"/images/swipe_1.jpg",
					"/images/swipe_2.jpg",
					"/images/swipe_3.jpg",
					"/images/swipe_4.jpg",
					"/images/swipe_5.jpg",
				]}
			/>
			<div class="whitespace block h-16"></div>
			<WideImage img_src={"/images/wide_2.jpg"} />
			<div class="whitespace h-28"></div>
			<Featured
				heading="Butterfly"
				description={butterfly_description}
				img_srcs={["/images/main_1.jpg", "/images/main_2.jpg"]}
			/>
			<div class="whitespace block h-28"></div>
			<div class="max-w-[85%] md:flex mx-auto md:prose">
				<p class="text-xl text-center font-serif text-black">
					{ending_description}
				</p>
			</div>
		</div>
	</main>
</Layout>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
></script>
