---
export interface Props {
    img_src: string;
}

const { img_src } = Astro.props;
---

<div class="mx-auto md:flex h-full w-auto md:max-h-[36rem] md:max-w-screen-lg">
    <img
        class="rounded-3xl drop-shadow-lg object-cover"
        src={ img_src }
    />
</div>
