---
import { Image } from 'astro:assets'
import type { ImageMetadata } from "astro";

export interface Props {
    img: ImageMetadata;
}

const { img } = Astro.props;
---

<style>
    img {
        @apply rounded-3xl drop-shadow-lg object-cover
    }
</style>

<div class="mx-auto md:flex h-full w-auto md:max-h-[36rem] md:max-w-screen-lg">
    <Image src={img} alt={"picture"}/>
</div>
