---
import { getCollection, getEntry } from "astro:content";
import { useTranslations, getLangFromUrl } from "../../i18n/translations";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

export function getStaticPaths() {
    return [{ params: { lang: "en" } }, { params: { lang: "cn" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allResources = await getCollection("resources", ({ data }) => {
    return data.language == lang;
});

const baseUrl = Astro.url.host + '/' + lang + '/';

---

<Layout title="Brand">
    <main class="max-w-3x mx-auto py-12 min-h-screen bg-off-white">
        <div class="container mx-auto px-2 md:px-0">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                {
                    allResources.map((resource) => (
                        <Card
                            title={resource.data.title}
                            img={resource.data.thumbnail_img}
                            href={'/' + lang + '/' + resource.data.path}
                        />
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
