---
import { getCollection, getEntry } from "astro:content";
import { useTranslations, getLangFromUrl } from "../../i18n/translations";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

export function getStaticPaths() {
    return [{ params: { lang: "en" } }, { params: { lang: "cn" } }];
}

const lang = getLangFromUrl(Astro.url);
const allResources = await getCollection("resources", ({ data }) => {
    return data.language == lang;
});

---

<Layout title="Maverick Jewellery Official | Brand">
    <div class="container mx-auto px-2 md:px-0">
        <div class="columns-1 md:columns-3 gap-8 mt-8">
            {
                allResources.map((resource) => (
                    <div class="mb-8 flex flex-wrap">
                        <Card
                            title={resource.data.title}
                            img={resource.data.thumbnail_img}
                            href={"/" + lang + "/" + resource.data.path}
                        />
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
